.header {
  border: none;
  border-bottom: 1px solid black;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.active {
  background-color: #007095;
}

.header-icon {
  aspect-ratio: 1;
  height: 50px;
}
