.header {
  border: none;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: transparent;
}

.header:hover {
  background-color: var(--hover);
}

.header.active {
  background-color: var(--accent);
}

.header-icon {
  aspect-ratio: 1;
  width: 80%;
}
