.tab-bar {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 0.5em;
  align-items: center;
  flex: none;
  width: 70px;
  height: 100%;
  border-right: var(--basic-border);
  background-color: white;
  box-sizing: border-box;
}

.tab-iframe {
  width: 100%;
  height: 100%;
}
