.app-bar {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: var(--basic-border);
  background-color: var(--secondary);
}

.app-bar-icon {
  width: 70px;
  height: 100%;
  box-sizing: border-box;
  border-right: var(--basic-border);
}

.app-bar-title {
  padding-left: 2em;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: var(--primary);
}

.content-tab {
  display: flex;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  padding: 2em;
}
