.pc-buddy {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-bar {
  display: flex;
  height: 70px;
  border-bottom: var(--basic-border);
  align-items: center;
  background-color: #f8f8f8;
}

.app-bar-icon {
  width: 70px;
  height: 100%;
  box-sizing: border-box;
  border-right: var(--basic-border);
}

.app-bar-title {
  padding-left: 2em;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.content-tab {
  display: flex;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

.tab-border {
  height: 100%;
  width: 100%;
  border-radius: 0 2em 2em 0;
  background-color: rgb(253, 253, 253);

  box-shadow: 2px 0px 10px black;
}
